.ProductHeader {
    margin-bottom: 10px;

    .TableLength {
        color: #313435;
        font-weight: 400;
        max-width: 300px;

        select {
            border: 1px solid rgba(0, 0, 0, 0.0625);
            border-radius: 2px;
            box-shadow: none;
            height: 40px;
            font-size: 14px;
            margin-left: 5px;
            margin-right: 5px;
            color: #303238;
            transition: all 0.2s ease-in;
        }
    }

    .SearchProduct {
        font-size: 14px;
        min-width: 240px;
        position: relative;

        input {
            font-size: 14px;
            padding-right: 24px;
        }

        .SearchIcon {
            position: absolute;
            right: 6px;
        }
    }

}

.ActionIcon {
    cursor: pointer;
    font-size: 14px;
}

.ImageProduct {
    height: 50px;
    width: 60px;

    img {
        cursor: pointer;
    }
}

.NameProduct {
    flex: 1;
}


.ModalFullscreen {
    background-color: #d9d9d9;

    .EditorCk {
        height: 100%;
        width: 840px;
    }

    .ck-content {
        min-height: 500px;
    }

    .ck-sticky-panel__content {
        position: fixed;
        width: 100%;
        top: 0;
    }
}

.ModalBody {
    width: 500px;
    height: 500px;
    box-shadow: var(--boxShadow);
    border-radius: 10px;

    .swiper {
        height: 100%;
        width: 100%;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        padding: 10px;

        img {
            //  object-fit: cover !important;
            border-radius: 10px;
        }
    }

    .swiper-slide-active {
        background-color: #d9d9d9 !important;
    }

}

.ProductPage {
    .active {
        text-align: center;
        padding: 4px 10px;
        color: #21a549;
        font-weight: 600;
        border-radius: 6px;
    }

    .StatusSpecial {
        text-align: center;
        cursor: pointer;
        padding: 10px;
        font-size: 18px;

        .StatusActive {
            color: #21a549;
        }
        .StatusDisable{
            color: red;
        }
        &:hover svg {
            transform: scale(1.2);
            font-size: 20px;
            color: #21a549;
        }

    }

}