.DashboardContainer {
    display: flex;

    .NavbarLeft {
        width: var(--offscreen-size);
        transition: all .2s ease;
        border: 1px solid #dddd;
        overflow-y: scroll;
        height: 100vh;
        padding-bottom: 20px;
        position: relative;
        font-size: 14px;

        .nav-link {
            text-decoration: none;
            font-size: 14px;
            display: flex;
            justify-content: left;
            gap: 20px;
            color: #000;
            padding: 12px 0;

        }

        .NavbarLeftItem {
            margin-top: 10px;
        }

        .dropdown_nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 10px;
            cursor: pointer;

            &:hover {
                background-color: #c7f7d7;
            }
        }

        .dropdown_icon {
            font-size: 14px;
            color: #333;
            cursor: pointer;
            padding: 10px;
        }

        .sub_menu_nav {
            margin: 0 0 0 50px;
            height: 0;
            transition: height 1s ease-in-out;

            li {
                padding: 4px 0;
                cursor: pointer;
            }
        }

        .nav-visible {
            height: auto;
        }

        //   .nav-hidden {
        //     height: 0;
        //   }


        .active {
            color: #0baf428c;
        }
    }

    .NavbarLeftStore {
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1002;
        background-color: #fff;

        .StoreName {
            height: 50px;
            width: 50px;

        }
    }

    .NavbarLeft::-webkit-scrollbar {
        width: 0;
    }

    .NavbarLeft::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 5px;
    }

    .NavbarLeft::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }

    .GroupName {
        opacity: 0.8;
        color: #ccc;
    }

    .NavbarTop {
        height: 64px;
        width: calc(100vw - var(--offscreen-size));
        transition: all .4s ease;
        border: 1px solid #ddd;

        .NavLeft {
            list-style-type: none;
            display: flex;
            align-items: center;
            height: 100%;

            .NavbarItem {
                height: 100%;
                width: 40px;

            }

            .SideBarToggle {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 30px;
                height: 100%;
                cursor: pointer;
            }

            .SidebarLogo {
                height: 60px;
                width: 60px;
                display: flex;
                align-items: center;
                color: #1c8f42;
                cursor: pointer;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    .DashboardInner {
        min-height: 100vh;
        transition: all 0.2s ease;
    }

    &.isCollapsed {
        .NavbarLeft {
            width: var(--collapsed-size);

            .nav-link {
                display: flex;
                justify-content: center;
                padding: 12px 0;
            }

            .nav-link .Title {
                display: none;
            }
        }

        .NavbarTop {
            width: calc(100vw - var(--collapsed-size));
        }

        .MainContentInner {
            width: calc(100vw - var(--collapsed-size));
            overflow-x: hidden;
        }
    }
}

// /////////
.MainContentInner {
    padding: 0 4px;
    background-color: rgb(244, 244, 244);
    width: calc(100vw - var(--offscreen-size));
    height: calc(100vh - 64px);


    .SectionInner {
        background-color: #fff;
        padding: 10px 15px;
        border: solid 1px rgba(0, 0, 0, 0.0625);
        border-radius: 4px;
        margin-top: 10px;
    }
}

.MainContentInner::-webkit-scrollbar {
    width: 0.5em;
}

.MainContentInner::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.MainContentInner::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.LayOutAdmin {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.AccountPage,
.OrderPage,
.SliderPage,
.ProductPage,
.OrderPage {
    position: relative;
    flex: 1;
}

@media only screen and (max-width:480px) {
    .DashboardContainer {
        .NavbarLeft {
            width: var(--collapsed-size);

            .nav-link {
                display: flex;
                justify-content: center;
            }

            .nav-link .Title {
                display: none;
            }
        }

        .NavbarTop {
            width: calc(100vw - var(--collapsed-size));
        }
    }
}