.ActionComp{
    width: 100%;
    .ButtonAction{
        position: relative;
        width: 100%;
        justify-content: center;
    }
    .ListAction{
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #fff;
        display: none;
    }
   .ListAction ~.active{    
        display: flex;
    }
}

.DropdownItem {
    cursor: pointer;
    padding-left: 10px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 4px;
    font-size: 14px;
    min-width: 160px;
    &:hover {
        background-color: #21a549;
        color: #fff;
    }
}
.ReactPdfPrint{
    width: 100%;
    height: auto;
}